@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
body {
    background-color: #FA8072;
    color: black;
    font-family: "Nerko One", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;

}

    button{
        background-color: #F5D9B4;
        color: black;
        font-family: "Dosis", sans-serif;
    }
    
    .passo {
        display: none;
    }
    
    .passo.ativo {
        display:block;
    }
    
    main {
        text-align: center;
        max-width: 90%;
    }
    
    img {
        max-width: 90%;
        height: 400px;
    }
    
    